*{
    margin: 0%;
    padding: 0%;
}
h1{
    color: black;
}
img{
    height: 60px;
}

ul{
    float: right;
    list-style: none;
    margin-top: 10px;

}
li{
    float: left;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    background-color: rgb(182, 3, 3);
    font-weight: 500;
    color:white;
    margin-left: 5px;
}
nav{
    background-color: white;
    height: 70px;
}
a{
    text-decoration: none;
    color: white;
}
.content{
    height: 1000px;
    background-image: url("wac.jpg");
    background-attachment: local;
    padding: 150px;
    height: 500px;
}
.t2{
    font-size: 90px;
    color: white;
    margin: 20px;
}
.p1{
    color:white;
    font-size: 35px;
    font-style: italic;
    font-family: serif;
}