*{
    margin: 0%;
    padding: 0%;
}
h1{
    color: white;
}
.t1{
    font-size: 30px;
    float: left;
    margin-top: 15px ;
    margin-left: 5px;
    border-radius: 100%;
    background-color: rgb(255, 0, 0);
}
ul{
    float: right;
    list-style: none;
    margin-top: 10px;

}
li{
    float: left;
    padding: 10px;
    font-size: 20px;
    color: white;
}
nav{
    background-color: black;
    height: 70px;
}
a{
    text-decoration: none;
    color: white;
}
.content{
    height: 1000px;
    background-image: url("wac.jpg");
    background-attachment: fixed;
    padding: 150px;
}
.t2{
    font-size: 90px;
    color: white;
    margin: 20px;
}
.p1{
    color:white;
    font-size: 20px;
}